.icons svg {
  color: white;
  height: 30px;
  padding: 16px 25px;
}

.icons i {
  color: white;
  font-size: 32px;
  height: 30px;
  padding: 0 25px;
}

.icons hr {
  color: white;
}

.icons svg:hover, .icons i:hover {
  color: var(--portfolio-orange);
}

.container {
  height: 100%;
}

.skillTitle {
  font-size: 50px;
  color: #3cffe7;
  text-align: center;
}

.skillSubTitle {
  color: #eaeaea;
  font-size: 1.4rem;
  margin-top: 40px;
  text-wrap: nowrap;
  width: 10%;
  box-shadow: inset 0 -10px 0 #525252;
}

.skill {
  color: #eaeaea;
  background-color: #525252;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  margin: 4px;
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .skill {
    width: 180px;
  };
  .skillSubTitle {
    width: 20%;
  }
}