.about-container {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.my-portfolio-image-wrapper {
  height: 300px;
  overflow: hidden;
}

#image-col {
  display: flex;
  justify-content: right;
}

.my-portfolio-image {
  width: 100%;
}

.about-me-wrapper {
  display: inline-block;
  font-size: 25px;
  color: white;
  width: 50%;
  line-height: 1.8;
}

#paragraph {
  i {
    color: var(--portfolio-orange);
  }

  b {
    color: var(--portfolio-blue);
  }
}

@media (max-width: 720px) {
  .about-container {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .my-portfolio-image-wrapper {
    // display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px var(--portfolio-mid-gray);
  }

  #image-col {
    display: flex;
    justify-content: center;
  }

  .my-portfolio-image {
    width: 100%;
  }

  .about-me-wrapper {
    display: inline-block;
    font-size: 25px;
    color: white;
    width: 100%;
    line-height: 1.8;
  }

  #paragraph {
    i {
      color: var(--portfolio-orange);
    }

    b {
      color: var(--portfolio-blue);
    }
  }
}

@media (max-width: 576px) {
  .about-container {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .my-portfolio-image-wrapper {
    // display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px var(--portfolio-mid-gray);
  }

  #image-col {
    display: flex;
    justify-content: center;
  }

  .my-portfolio-image {
    width: 100%;
  }

  .about-me-wrapper {
    display: inline-block;
    font-size: 25px;
    color: white;
    width: 100%;
    line-height: 1.8;
  }

  #paragraph {
    i {
      color: var(--portfolio-orange);
    }

    b {
      color: var(--portfolio-blue);
    }
  }
}